.header-btn.buy-now-btn {
    border-color: #FDC800;
    color: var(--black);
    background-color: #FDC800;
}
.header-btn.buy-now-btn:hover {
    border-color: #FDC800;
    color: var(--black);
    background-color: transparent;
}

.header-home{
    background-color: #f2f4f9;
}
.hero-section{
    background: url(../image/home/hero-bg.png);
    background-size: cover;
    padding: 3rem 0 0 0  ;
}
.supertext{
    color: #1363DF;
    font-family: poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    border-radius: 0.25rem;
    background: #E7EFFC;
    width: fit-content;
    padding: 0.5rem 1rem;
}
.hero-heading-container{
    position: relative;
}
.hero-heading-container .hero-heading{
    color: #002147;
    font-family: Fira Sans;
    font-size: 4.0625rem;
    font-weight: 700;
    z-index: 1;
    position: relative;
}
.hero-title-img1{
    position: absolute;
    top: 4.2rem;
}
.hero-title-img2{
    position: absolute;
    top: 9rem;
}
.subheading{
    color: #1363DF;
font-family: Fira Sans;
font-size: 2.625rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 1rem 0;
}
.hero-title-description{
    color: #464646;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 1.6rem */
}
.hero-btn-container {
    display: flex;
}
.hero-btn{
    padding: 1rem 1.5rem;
    margin: 1rem 1rem 1rem 0;
    border-radius: 0.25rem;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.03125rem;
    text-transform: uppercase;  
    border: 1px solid #1363DF;
}
.hero-btn.register-btn{
    background: #1363DF;
    color: #FFF;
}
.hero-btn.business-btn:hover{
    background: #1363DF;
    color: #FFF;
}
.hero-right-half{
    position: relative;
}
.hero-img-half {
    background: url(../image/home/hero-moving-icons.gif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.hero-img-half img {
    display: flex;
    justify-content: center;
    margin: auto;
}
.total-floating-elmt-division {
    width: fit-content;
    border-radius: 1.25rem;
    background: #FFF;
    text-align: center;
    padding: 1rem 2rem;
    position: absolute;
    top: 30%;
    left: 16%;
}
.floating-elmt-text{
    margin-top: 10px;
    margin-bottom: 0;
    color: #39557E;
    font-size: 1rem;
    font-weight: 400;
}
.floating-elmt-number{
    color: #082A5E;
    font-family: Fira Sans;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.875rem;
}
.total-graduation-floating-elmt-division {
    width: fit-content;
    border-radius: 1.25rem;
    background: #FFF;
    text-align: center;
    padding: 0 2rem 1rem 2rem;
    position: absolute;
    top: 55%;
    right: 0;
}
.total-graduation-floating-elmt-division img {
    margin-top: -15%;
}

/* about section design */
.about-section{
    padding: 3rem 0;
}
.section-title{
    color: #082A5E;
font-family: Fira Sans;
font-size: 2.5rem;
/* font-size: 2.25rem; */
font-style: normal;
font-weight: 600;
line-height: 2.97rem;
letter-spacing: -0.0625rem;
text-transform: capitalize;
position: relative;
}
.section-title span{
    position: relative;
    color: #1363DF;
    z-index: 3;
}
.section-title span img{
    position: absolute;
    bottom: -5px;
    left: 10%;
    right: 10%;
    z-index: 0;
}
.section-description{
    color: #39557E;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 175% */
}
.abt-feature-card{
    display: flex;
    margin: 1.25rem 1rem;
    align-items: center;
}
.abt-feature-card .abt-feature-details h4{
    color: #082A5E;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    margin: auto;
}

/* category section design */
.category-section{
    padding: 3rem 0;
}
.section-btn{
    padding: 1rem 1.5rem;
    margin: 5rem 0;
    border-radius: 0.25rem;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.03125rem;
    text-transform: uppercase;  
    border: 1px solid #1363DF;
    background: transparent;
    color: #1363DF;
}
.category-card {
    border-radius: 0.625rem;
    background: #F4F7FB;
    padding: 2rem 1rem;
    margin: 1rem;
    text-align: center;
}
/* .category-card:nth-child(1){
    margin-left: 5rem;
} */
.category-img-circle{
    border-radius: 50%;
    padding: 1rem;
    background: var(--white);
    width: 80px;
    height: 80px;
    margin: auto;
    display: flex;
}
.category-name{
    color: #082A5E;
text-align: center;
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 500;
line-height: 1.96875rem; /* 175% */
}
.category-course-number{
    color: #5A7093;
text-align: center;
font-family: Poppins;
font-size: 0.9375rem;
font-style: normal;
font-weight: 500;
line-height: 0.9375rem; /* 100% */
}
.lms-section{
    padding: 4rem 0;
    background-color: #072655;
    color: #fff;
}
.lms-section .section-title{
    color: #fff;
}
.lms-section .section-title span img {
    position: absolute;
    bottom: 12px;
    left: -4%;
    right: 10%;
    z-index: -1;
}
.lms-section .section-title span{
    color: #fff;
}
.section-yellow-description{
    color: #FAB123;
}
.lms-listing{
    list-style-type: none;
}
.lms-listing li{
    margin: 5px 0;
}
.section-btn.white-btn{
    border: 1px solid #FFF;
    background: #FFF;
}
.section-btn.white-btn:hover{
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

/* testimonial section design */
.testimonial-section{
    padding: 4rem 0;
    background : url(../image/home/testimonial-bg2.png);
    background-position:center ;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f5f7fb;
}
.testimonial-section .supertext{
    border-radius: 1.875rem;
    background: #E7DEFF;
    margin: auto;
    color: #5F2DED;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
}
.testimonial-card{
    margin: 1rem;
    border-radius: 0.25rem;
background: #FFF;
box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.06);
padding: 2rem;
}
.testimonial-client-container{
    display: flex;
    align-items: center;
}
.testimonial-client-container img{
    width: 4rem;
    height: 4rem;
}
.name-designation-container{
    margin-left: 1rem;
}
.name-designation-container .client-name{
    color: #000;
font-family: Poppins;
font-size: 1.375rem;
font-style: normal;
font-weight: 700;
line-height: 1.625rem; /* 118.182% */
letter-spacing: -0.04125rem;
}
.name-designation-container .client-designation{
    color: #33B89F;
font-family: Poppins;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 1.0625rem;
margin-bottom: 0;
}
.testimonial-card .client-statement{
    margin-top: 1rem ;
    color: #5F6C76;

}

/* statistics section design */
.statistics-section{
    padding: 4rem 0;
}
.statistics-section .supertext{
    margin: auto;
}
.statistics-section .section-title span img {
    left: -5%;
}
.statistics-section .statistics-section-text{
    color: #000;
    text-align: center;
    font-family: Poppins;
    width: 60%;
    margin: 1rem auto;
}
.statistics-card{
    border-radius: 0.25rem;
    border: 1px solid rgba(126, 133, 139, 0.18);
    margin: 1rem;
    display: flex;
    align-items: center;
    padding: 1.5rem;
}
.statistics-img-circle{
    border-radius: 2.0625rem;
border: 1px solid rgba(95, 45, 237, 0.15);
background: rgba(142, 102, 255, 0.05);
padding: 1rem;
width: 4rem;
height: 4rem;
justify-content: center;
align-items: center;
display: flex;
}
.statistics-data-container {
    margin-left: 1rem;
}
.statistics-data-container .statistics-title{
    color: #000;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; /* 100% */
}
.statistics-data-container .statistics-description{
    margin-bottom: 0;
    color: #5F6C76;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem; /* 180% */
    
}
/* register section design */
.register-section{
    padding: 4rem 0;
    background: #1363DF;
    color: var(--white);
}
.register-section .supertext{
    border-radius: 1.875rem;
    background: #E7DEFF;
    color: #5F2DED;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
}
.register-section .section-title{
    color: #FFF;
font-family: Poppins;
font-size: 2.8125rem;
font-style: normal;
font-weight: 700;
line-height: 4rem; 
letter-spacing: -0.08438rem;
}
.section-title span.yellow-text{
    color: #F0B410;
font-family: Poppins;
font-size: 2.8125rem;
font-style: normal;
font-weight: 700;
line-height: 3.375rem; /* 120% */
letter-spacing: -0.08438rem;
}
.section-title span.yellow-text img {
    position: absolute;
    bottom: 14px;
    left: 6%;
    right: 10%;
    z-index: -1;
}
.register-section-description-container{
    display: flex;
    align-items: center;
}
.register-section-description-container h5{
    margin: 1.5rem;
    color: #FFF;
font-family: Poppins;
font-size: 1.375rem;
font-style: normal;
font-weight: 600;
line-height: 2.125rem; /* 154.545% */
}
.col-lg-6.form-half{
    position: relative;
}
.form-container{
    position: absolute;
    max-width: 600px;
    border-radius: 0.25rem;
    background: #fff;
    box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.06);
    padding: 3rem;
}
.form-input-label-container{
    /* border: 1px solid rebeccapurple; */
    margin: 1rem 0;
}
.form-input-label-container label{
    color: #0E1133;
font-family: Fira Sans;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.2rem;
margin: 0.5rem 0;
}
.form-input-container{
    padding: 1rem;
    border-radius: 0.375rem;
background: #F6F6F7;
}
.form-container .col-4, .form-container .col-8{
    padding: 0;
}
.form-container .col-8{
    padding-left: 1rem;
}
.form-input-label-container input:not([type='checkbox']) {
    margin-left: 0.5rem;
    width: 90%;
    background: transparent;
}
.form-input-label-container .password-hint{
    margin-top: 10px;
    color: #8E8C94;
font-size: 0.9rem;
font-style: normal;
font-weight: 500;
line-height: 1.625rem;
}
.form-input-label-container label a{
    color: #0E1133;
font-weight: 500;
}
.form-container .form-btn{
    display: flex;
    justify-content: center;
    border-radius: 0.25rem;
    background: #1363DF;
    padding: 1rem;
    color: #FFF;
    font-family: Fira Sans;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1px;
}

/* logo carousel design*/
.logo-carousel-section{
    padding: 3rem 0 0 0;
}

.university-logo-container h3{
    font-size: 1.125rem;
    margin-top: 10px;
}
.owl-carousel .owl-item .university-logo-container img{
    width: auto;
}


img {
    max-width: 100%;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header-btn {
        padding: 0.5rem 0.5rem;
    }
    .hero-heading-container .hero-heading {
        font-size: 3.67rem;
    }
    .subheading {
        font-size: 2rem;
    }
    .form-input-label-container input:not([type='checkbox']) {
        margin-left: 0;
    }
    .hero-btn {
        padding: 1rem 1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .hide-ls-tab{
        display: none;
    }
    .hero-heading-container .hero-heading {
        font-size: 3.7rem;
    }
    .subheading {
        font-size: 2rem;
    }
    .total-floating-elmt-division {
        top: 43%;
        left: 10%;
    }
    .total-graduation-floating-elmt-division {
        top: 70%;
    }
    .img-half{
        text-align: center;
    }
    .form-input-label-container input:not([type='checkbox']) {
        margin-left: 0;
    }
    .register-section {
        padding: 4rem 0 40%;
    }
    .col-lg-6.form-half {
        display: flex;
        justify-content: center;
    }
    .empty-section .pad-70 {
        padding: 11rem 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .hide-pt-tab{
        display: none;
    }
    .total-floating-elmt-division {
        left: 0%;
    }
    .total-graduation-floating-elmt-division {
        top: 70%;
    }
    .form-input-label-container input:not([type='checkbox']) {
        margin-left: 0;
    }
    .form-container {
        position: inherit;
    }
   
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hide-mobile{
        display: none;
    }
    .form-container {
        position: inherit;
    }
    .hero-heading-container .hero-heading {
        font-size: 2.5rem;
    }
    .hero-title-img1 {
        top: 2.3rem;
    }
    .hero-title-img2 {
        top: 5.3rem;
    }
    .subheading {
        font-size: 1.75rem;
    }
    .hero-btn {
        padding: 1rem 0.5rem;
    }
    .total-graduation-floating-elmt-division {
        top: 65%;
    }
    .section-title {
        font-size: 2rem;
    }
    .category-section, .about-section {
        padding: 1.5rem 0;
    }
    .category-section .pad-20{
        padding: 1rem 0;
    }
    .statistics-section .statistics-section-text {
        width: 90%;
    }
    .register-section .section-title{
        font-size: 2rem;
        line-height: 3rem;
    }
    .section-title span.yellow-text{
        font-size: 2.75rem;
        line-height: 3rem;
    }
    .form-container {
        padding: 1rem;
    }
    .form-input-container {
        padding: 0.5rem;
    }
    .form-input-label-container input:not([type='checkbox']) {
        margin-left: 0;
    }
    .form-container .col-8 {
        padding-left: 0.5rem;
    }
}